/*Splendid CSS*/
body,
html {
  padding: 0;
  margin: 0;
}
.birthday {
  background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b4371,
    #f3904f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b4371,
    #f3904f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.birthday__section {
  width: 100vw;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.birthday__frame {
  background: url(/assets/ie6.png) no-repeat;
  width: 897px;
  height: 768px;
  position: relative;
}

.birthday__iframe {
  background: white;
  position: absolute;
  top:111px;
  left: 4px;
  width: 874px;
  height: 630px;
  overflow: hidden;
}

@media only screen and (min-width: 640px) {
  .birthday__iframe {
    overflow: auto;
  }
}

.thylo{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #141E30;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-image:url(/assets/thylo/sparkles.gif);
  position: relative;
}
.thylo__signature{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color:pink;
}

.thylo-button {
  position: relative;
  margin: 20px;
  width: 550px;
  height: 90px;
  border-radius: 45px;
  background: #ff441c;
  box-shadow: inset 6px 6px 12px rgba(255,255,255,0.6), inset -6px -6px 12px rgba(0,0,0,0.6);
  border: none;
  border-bottom: 1px solid white;
}

.thylo-button::-moz-focus-inner {
  border: 0;
}

.thylo-button:before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-image-source: radial-gradient(ellipse closest-side, rgba(255, 3, 0, 0.6) 0%, rgba(0,0,0,0) 100%);
  border-image-slice: 49% fill;
  border-image-width: 60px 45px 30px 45px;
  border-width: 1px;
}

.thylo-button:after {
  content: attr(data-label);
  position: absolute;
  top: 6px; left: 18px; right: 18px; height: 36px;
  border-radius: 36px 36px 0 0 / 24px 24px 0 0;
  background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.2));
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px black;
  font-size: 60px;
}

.thylo-button:hover {
  background: #02AAFF;
}

.thylo-button:hover:before {
  border-image-source: radial-gradient(ellipse closest-side, rgba(50,255,255,1) 0%, rgba(0,0,0,0) 100%);
}

.thylo-button:active {
  background: #0066AA;
}

.thylo-button:active:before {
  border-image-source: radial-gradient(ellipse closest-side, rgba(20,200,255,1) 0%, rgba(0,0,0,0) 100%);
}

.thylo-button:focus {
  outline: none;
  border-image-source: radial-gradient(ellipse closest-side, rgba(0,0,0,0) 70%, rgba(0,0,255,0.33) 75%, cyan 80%, white 85%, cyan 90%, rgba(0,0,255,0.33) 95%, rgba(0,0,0,0));
  border-image-slice: 49%;
  border-image-width: 60px;
  border-image-outset: 18px;
  border-width: 0;
  border-bottom-width: 1px;
}
.thylo-cake{
  height: 40vh;
  width: 40vw;

}
.thylo-cake img{
  width: 100%;
  height:auto;
}
