<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	<body>
		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
	</body>

</html>
