<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
    <head>
		<meta name="robots" content="noindex, nofollow">
		<title>{{title}}</title>
		<link type="text/css" rel="stylesheet" href="/assets/style.css" media="all">
    </head>
	<body>
	    <header>

	    </header>
		<main>
			{{ layoutContent | safe }}
		</main>
	</body>
</html>
